/*header section*/
body{
    font-family: 'Merriweather', serif;
}
.banner{

    color: #FFF;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../image/banner.png'); 
    background-repeat: no-repeat;
    border-radius: 16px;
    margin:50px auto ;
    width: 1320px;
height: 600px; 
padding: auto;
}


.banner-title{
    color: #e0dddd;
text-align: center;
font-size: 32px;
font-weight: 400;
width: 259px; 
height: 40px;
padding:  177px 530px 0px 530px;
}
.banner-description{
    color: white;
text-align: center;
font-size: 72px;
font-weight: 900;
width: 632px; 
height: 190px;
padding:    0px 344px 177px 344px;
}
/*main section*/
.section-one{
    background-color: #FFF;
    width: 1600px;
    height: 7335px;
    margin: 50px auto;
}
.section-one-title{
    color: #F00;
text-align: center;
font-size: 88px;
font-weight: 700;
margin:  200px auto 0px auto;
}
.section-one-intro{
    color: #F00;
text-align: center;
font-size: 24px;
font-weight: 500;
margin:   50px auto;
}
.section-one-description{
    color: #070211;
text-align: center;
font-size: 48px;
font-weight: 700;
margin: 50px auto;
}
.section-one-pic{
    width: 802.9px;
    height: 500px;
    margin: auto 399px;
}
.section-two{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../image/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 1320px;
    height: 600px; 
    margin:160px 140px 5039px 140px;
}
.section-two-title{
    color: #FFF;
font-size: 64px;
font-weight: 900;
letter-spacing: 7.04px; 
width: 642px;
}
.section-two-pic{
    padding: 0px 10px 400px 900px;
}